<table>
  <tbody>
  <tr>
    <td class="block0"><app-cell [cell-value]="board[0][0]" [cell-row]="1" [cell-column]="1"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[0][1]" [cell-row]="1" [cell-column]="2"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[0][2]" [cell-row]="1" [cell-column]="3"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[0][3]" [cell-row]="1" [cell-column]="4"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[0][4]" [cell-row]="1" [cell-column]="5"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[0][5]" [cell-row]="1" [cell-column]="6"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[0][6]" [cell-row]="1" [cell-column]="7"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[0][7]" [cell-row]="1" [cell-column]="8"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[0][8]" [cell-row]="1" [cell-column]="9"
                                 (cellChange)="onChange($event)"></app-cell></td>
  </tr>
  <tr>
    <td class="block0"><app-cell [cell-value]="board[1][0]" [cell-row]="2" [cell-column]="1"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[1][1]" [cell-row]="2" [cell-column]="2"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[1][2]" [cell-row]="2" [cell-column]="3"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[1][3]" [cell-row]="2" [cell-column]="4"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[1][4]" [cell-row]="2" [cell-column]="5"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[1][5]" [cell-row]="2" [cell-column]="6"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[1][6]" [cell-row]="2" [cell-column]="7"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[1][7]" [cell-row]="2" [cell-column]="8"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[1][8]" [cell-row]="2" [cell-column]="9"
                                 (cellChange)="onChange($event)"></app-cell></td>
  </tr>
  <tr>
    <td class="block0"><app-cell [cell-value]="board[2][0]" [cell-row]="3" [cell-column]="1"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[2][1]" [cell-row]="3" [cell-column]="2"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[2][2]" [cell-row]="3" [cell-column]="3"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[2][3]" [cell-row]="3" [cell-column]="4"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[2][4]" [cell-row]="3" [cell-column]="5"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[2][5]" [cell-row]="3" [cell-column]="6"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[2][6]" [cell-row]="3" [cell-column]="7"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[2][7]" [cell-row]="3" [cell-column]="8"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[2][8]" [cell-row]="3" [cell-column]="9"
                                 (cellChange)="onChange($event)"></app-cell></td>
  </tr>
  <tr>
    <td class="block1"><app-cell [cell-value]="board[3][0]" [cell-row]="4" [cell-column]="1"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[3][1]" [cell-row]="4" [cell-column]="2"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[3][2]" [cell-row]="4" [cell-column]="3"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[3][3]" [cell-row]="4" [cell-column]="4"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[3][4]" [cell-row]="4" [cell-column]="5"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[3][5]" [cell-row]="4" [cell-column]="6"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[3][6]" [cell-row]="4" [cell-column]="7"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[3][7]" [cell-row]="4" [cell-column]="8"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[3][8]" [cell-row]="4" [cell-column]="9"
                                 (cellChange)="onChange($event)"></app-cell></td>
  </tr>
  <tr>
    <td class="block1"><app-cell [cell-value]="board[4][0]" [cell-row]="5" [cell-column]="1"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[4][1]" [cell-row]="5" [cell-column]="2"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[4][2]" [cell-row]="5" [cell-column]="3"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[4][3]" [cell-row]="5" [cell-column]="4"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[4][4]" [cell-row]="5" [cell-column]="5"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[4][5]" [cell-row]="5" [cell-column]="6"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[4][6]" [cell-row]="5" [cell-column]="7"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[4][7]" [cell-row]="5" [cell-column]="8"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[4][8]" [cell-row]="5" [cell-column]="9"
                                 (cellChange)="onChange($event)"></app-cell></td>
  </tr>
  <tr>
    <td class="block1"><app-cell [cell-value]="board[5][0]" [cell-row]="6" [cell-column]="1"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[5][1]" [cell-row]="6" [cell-column]="2"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[5][2]" [cell-row]="6" [cell-column]="3"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[5][3]" [cell-row]="6" [cell-column]="4"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[5][4]" [cell-row]="6" [cell-column]="5"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[5][5]" [cell-row]="6" [cell-column]="6"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[5][6]" [cell-row]="6" [cell-column]="7"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[5][7]" [cell-row]="6" [cell-column]="8"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[5][8]" [cell-row]="6" [cell-column]="9"
                                 (cellChange)="onChange($event)"></app-cell></td>
  </tr>
  <tr>
    <td class="block0"><app-cell [cell-value]="board[6][0]" [cell-row]="7" [cell-column]="1"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[6][1]" [cell-row]="7" [cell-column]="2"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[6][2]" [cell-row]="7" [cell-column]="3"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[6][3]" [cell-row]="7" [cell-column]="4"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[6][4]" [cell-row]="7" [cell-column]="5"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[6][5]" [cell-row]="7" [cell-column]="6"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[6][6]" [cell-row]="7" [cell-column]="7"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[6][7]" [cell-row]="7" [cell-column]="8"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[6][8]" [cell-row]="7" [cell-column]="9"
                                 (cellChange)="onChange($event)"></app-cell></td>
  </tr>
  <tr>
    <td class="block0"><app-cell [cell-value]="board[7][0]" [cell-row]="8" [cell-column]="1"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[7][1]" [cell-row]="8" [cell-column]="2"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[7][2]" [cell-row]="8" [cell-column]="3"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[7][3]" [cell-row]="8" [cell-column]="4"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[7][4]" [cell-row]="8" [cell-column]="5"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[7][5]" [cell-row]="8" [cell-column]="6"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[7][6]" [cell-row]="8" [cell-column]="7"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[7][7]" [cell-row]="8" [cell-column]="8"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[7][8]" [cell-row]="8" [cell-column]="9"
                                 (cellChange)="onChange($event)"></app-cell></td>
  </tr>
  <tr>
    <td class="block0"><app-cell [cell-value]="board[8][0]" [cell-row]="9" [cell-column]="1"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[8][1]" [cell-row]="9" [cell-column]="2"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[8][2]" [cell-row]="9" [cell-column]="3"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[8][3]" [cell-row]="9" [cell-column]="4"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[8][4]" [cell-row]="9" [cell-column]="5"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block1"><app-cell [cell-value]="board[8][5]" [cell-row]="9" [cell-column]="6"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[8][6]" [cell-row]="9" [cell-column]="7"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[8][7]" [cell-row]="9" [cell-column]="8"
                                 (cellChange)="onChange($event)"></app-cell></td>
    <td class="block0"><app-cell [cell-value]="board[8][8]" [cell-row]="9" [cell-column]="9"
                                 (cellChange)="onChange($event)"></app-cell></td>
  </tr>
  </tbody>
</table>

